
.pub_image{
  margin-bottom: 25px;  
}


.pub_image .data-user{
    font-weight: bold;
    line-height: 35px;
}
.pub_image .data-user a{
   color: #444;
}
.pub_image .nickname{
    color: gray;
}
.image-container{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    
}
.image-detail{
    max-height: 500px;
}
.image-container img{
 
    width: 100%;
     
}
.pub_image .card-body{
    padding: 0px;
}

.pub_image .title{
padding: 20px;
padding-bottom: 0px;
  font-weight: bold;
    line-height: 35px;
}

.pub_image .title a{
    color: #444;
}
.pub_image .content{
padding: 20px;
padding-bottom: 0px;
}


.card-body .btn-comments{
margin:  20px;
margin-top: 0px;
margin-left: 0px;

}


.card-body .comments {
    padding: 20px;

    
}

.card-body  .comments{
    padding: 20px;
}


